.thumbnail img {
	width: 100%;
}

.thumbnail {
	padding: 0;
}

.thumbnail .caption-full {
	padding: 10px;
}

#delete-form {
	display: inline;
}
/* 
body {
	background-image: url(./images/1.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
} */

/* Google Maps */